# IDE folders
.vscode/

# Jekyll site
vendor/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/

# Ruby files
*.gem
Gemfile.lock
.ruby-version
.ruby-gemset

# OS files
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db